@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Ubuntu:wght@300&display=swap');
:root {
    --color-white: #FFF;
    --color-dark-gray: #888;
    --color-light-gray: #AAA;
    --color-7-gray: #777;
    --color-5-gray: #555;
  
    --color-bg-footer: #333;
    --color-bg-card: #EEE;
  
    --color-arrow-container: #8D8D8D;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
  }
  
  html, body {
    width: 100vw;
  }
  header {
      width: 100%;
      height: 60px;
      padding: 20px 31px 18px 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

      }
 h2 {
     color: #777;
     font-size: 30px;
     font-weight: 400;
     margin: 8px 0 16px 44px;
     
      }
 h3 {
     width: 38px;
     height: 22px;
     color: #AAA;
     font-size: 10px;
     font-weight: 400;
     margin-left: -1090px;
     
    
 }

 header img {
     color: #AAA;
     width: 25px;
     height: 15px;
     cursor: pointer;
     margin-right: 30px;
 }

 .banner {
     width: 87%;
     height: 450px;
     background-image: url(../css/images/banner.png);
     background-repeat: no-repeat;
     background-size: cover;
     margin: 60px 0 0 87px;
     display: flex;
     justify-content: space-between;
     padding: 50px;
     align-items: center;
          
 }
 .banner .arrows {
     background-color: rgba(141, 141, 141, 0.62);
     width: 39px;
     height: 39px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }
 section#lofts {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 87px;
     
 }
 article {
     width: 500px;
     height: 350px;
     display: flex;
    
     
 }

 .lofts-container {
     background-color: #EEE;
     
 }
 .card-image-1 {
     background-image: url(../css/images/home1.jpg);
     width: 500px;
     height: 200px;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .card-image-2 {
    background-image: url(../css/images/home2.jpg);
    width: 500px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.card-title-2 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    color: #888;
}
.green-ellipse {
    width: 60px;
    height: 21px;
    background-color: #51D275;
    border-radius: 10.5px;
    text-align: center;
    color: #FFF;
    font-weight: 400;   
    font-size: 20px;
    
}
.orange-ellipse {
    width: 60px;
    height: 21px;
    background-color: #DC9730;
    border-radius: 10.5px;
    text-align: center;
    color: #FFF;
    font-weight: 400;   
    font-size: 20px;
    
}

.lofts-container p {
    font-size: 15px;
    text-align: justify;
    margin: 10px;
    color: #555;
}
